<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
  <title>Find a Book</title>
</head>
<body>
  <header>
    <h1>Find Books</h1>
  </header>
  <main>
    <form method="post" action="/search">
    <div class="search">
      <input name="search" placeholder="search Terms">  
    </div>
    <div class="labels">
      <label>
        <input type="radio" name="searchby" value="inauthor">
        Search By Author
      </label>
      <label>
        <input type="radio" name="searchby" value="intitle">
        Search By Title
      </label>
    </div>
    <button type="submit">Find Books!</button>
  </form>
  </main>
  <footer>
    &copy; Book App Lesley & Will 2020
  </footer>
</body>
</html>