<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>

  <nav>
    <%- include('../partials/navbar') %>
  </nav>

  <main>

  <%- include('../partials/header.ejs') %>
  <main>
    <!-- Renders saved books from psql -->
    <!-- need navbar -->

  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>